<ul class="social-icons <%= css_class if defined? css_class %>">
  <li><a class="github" target="_blank" href="https://github.com/smrkem">GitHub</a></li>
  <li><a class="linkedin" target="_blank" href="https://ca.linkedin.com/in/matthew-smrke-55692957">LinkedIn</a></li>
  <li><%= mail_to "smrkem@gmail.com", "Email", { class: "email", target: "_blank" } %></li>
</ul>
