<ul class="social-icons <%= css_class if defined? css_class %>">
  <li>
    <a class="github" target="_blank" href="https://github.com/smrkem" aria-label="Github">
      <span class="fa fa-github-alt fa-lg"></span>
    </a>
  </li>
  <li>
    <a class="linkedin" target="_blank" href="https://ca.linkedin.com/in/matthew-smrke-55692957" aria-label="LinkedIn">
      <span class="fa fa-linkedin-square fa-lg"></span>
    </a>
  </li>
  <li>
    <a class="email" target="_blank" href="mailto:smrkem@gmail.com" aria-label="Email">
      <span class="fa fa-envelope-o fa-lg"></span>
    </a>
  </li>
</ul>
