<h1>My Courses</h1>
<div id="courses-intro">
  <p>Online, open courseware has been a great advance in education for me - and probably saved me in the tens of thousands that would have otherwise gone to part-time school.</p>
  <p>edX is currently my favourite course provider. It was founded by MIT and Harvard and offers the most complete and challenging courses I've found so far. I've also been trying out udemy lately and it's been a decent experience so far.</p>
</div>
<div id="courses">

  <h4 class="courses-heading">In Progress:</h4>
  <div class="course">
    <div class="provider udemy" title="udemy">Udemy</div>
    <h4>AWS Certified Solutions Architect</h4>
    <ul class="course-links">
      <li><a target="_blank" href="https://www.udemy.com/aws-certified-solutions-architect-associate/">Course Page</a></li>
    </ul>
  </div>

  <div class="course">
    <div class="provider udemy" title="udemy">Udemy</div>
    <h4>Angular 2 + Rails 5 Bootcamp</h4>
    <ul class="course-links">
      <li><a target="_blank" href="https://www.udemy.com/angular-on-rails-course">Course Page</a></li>
    </ul>
  </div>

  <h4 class="courses-heading">Completed:</h4>
  <div class="course">
    <div class="provider udemy" title="udemy">Udemy</div>
    <h4>Scaling docker on AWS</h4>
    <ul class="course-links">
      <li><a target="_blank" href="https://www.udemy.com/scaling-docker-on-aws/">Course Page</a></li>
      <li><a target="_blank" href="https://www.udemy.com/certificate/UC-MHFTTAS0">Certificate</a></li>
    </ul>
  </div>

  <div class="course">
    <div class="provider edx" title="edX">edX</div>
    <h4>HarvardX: PH526x Using Python for Research</h4>
    <ul class="course-links">
      <li><a target="_blank" href="https://www.edx.org/course/using-python-research-harvardx-ph526x">Course Page</a></li>
      <li><a target="_blank" href="https://courses.edx.org/courses/course-v1:HarvardX+PH526x+3T2016/4bdcc373b7a944f8861a3f190c10edca/">Detailed syllabus and FAQ</a></li>
      <li><a target="_blank" href="https://courses.edx.org/certificates/ea5c3bf84f394c579b885876cd9fc46d">Certificate</a></li>
    </ul>
  </div>

  <div class="course">
    <div class="provider edx" title="edX">edX</div>
    <h4>Microsoft: DAT208x Introduction to Python for Data Science</h4>
    <ul class="course-links">
      <li><a target="_blank" href="https://www.edx.org/course/introduction-python-data-science-microsoft-dat208x-5">Course Page</a></li>
      <li><a target="_blank" href="https://courses.edx.org/courses/course-v1:Microsoft+DAT208x+5T2016/a83dfa3e93a34598987774b010e84043/">Detailed syllabus and FAQ</a></li>
      <li><a target="_blank" href="https://courses.edx.org/certificates/509cce8ccf3743b8840a12152b342d79">Certificate</a></li>
    </ul>
  </div>

  <h3>Other Providers</h3>
  <h4>codecademy</h4>
  <p>codecademy has skills, points and badges. I used it a while ago and it was a good experience. It seems easy and casual but dove fairly deep into the material.</p>
  <ul>
    <li><a target="_blank" href="https://www.codecademy.com/learn/ruby">Ruby</a></li>
  </ul>

</div>
