<div id="courses-intro">
  <p>This is a list of the courses I'm currently taking or have already completed.</p>
  <p><span class="highlighted-tech">edX</span> is currently my favourite course provider. It offers the most complete and challenging courses I've found so far. I've also been trying out <span class="highlighted-tech">udemy</span> lately and it's been a decent experience for more practical, hands-on material. <span class="highlighted-tech">acloudguru</span> is another provider with very practical courses, and seems to be a good go-to place for tons of <span class="highlighted-tech">AWS</span> content.</p>
  <p></p>
</div>
<div id="courses">

  <h4 class="page-subheading">In Progress:</h4>
  <div class="course">
    <h4 class="provider-acloudguru">
      AWS Certified Solutions Architect
    </h4>
    <ul class="course-links">
      <li><a target="_blank" href="https://www.udemy.com/aws-certified-solutions-architect-associate/">Course Page</a></li>
    </ul>
  </div>

  <div class="course">
    <h4 class="provider-udemy">
      Angular 2 + Rails 5 Bootcamp
    </h4>
    <ul class="course-links">
      <li><a target="_blank" href="https://www.udemy.com/angular-on-rails-course">Course Page</a></li>
    </ul>
  </div>

  <h4 class="page-subheading">Completed:</h4>
  <div class="course">
    <h4 class="provider-udemy">
      Scaling docker on AWS
    </h4>
    <ul class="course-links">
      <li><a target="_blank" href="https://www.udemy.com/scaling-docker-on-aws/">Course Page</a></li>
      <li><a target="_blank" href="https://www.udemy.com/certificate/UC-MHFTTAS0">Certificate</a></li>
    </ul>
  </div>

  <div class="course">
    <h4 class="provider-edx">
      HarvardX: PH526x Using Python for Research
    </h4>
    <ul class="course-links">
      <li><a target="_blank" href="https://www.edx.org/course/using-python-research-harvardx-ph526x">Course Page</a></li>
      <li><a target="_blank" href="https://courses.edx.org/courses/course-v1:HarvardX+PH526x+3T2016/4bdcc373b7a944f8861a3f190c10edca/">Detailed syllabus and FAQ</a></li>
      <li><a target="_blank" href="https://courses.edx.org/certificates/ea5c3bf84f394c579b885876cd9fc46d">Certificate</a></li>
    </ul>
  </div>

  <div class="course">
    <h4 class="provider-edx">
      Microsoft: DAT208x Introduction to Python for Data Science
    </h4>
    <ul class="course-links">
      <li><a target="_blank" href="https://www.edx.org/course/introduction-python-data-science-microsoft-dat208x-5">Course Page</a></li>
      <li><a target="_blank" href="https://courses.edx.org/courses/course-v1:Microsoft+DAT208x+5T2016/a83dfa3e93a34598987774b010e84043/">Detailed syllabus and FAQ</a></li>
      <li><a target="_blank" href="https://courses.edx.org/certificates/509cce8ccf3743b8840a12152b342d79">Certificate</a></li>
    </ul>
  </div>

  <h3 class="page-subheading">Other Providers</h3>
  <div class="course other-provider">
    <p><span class="highlighted-tech">codecademy</span> -  organizes learning into skills, points and badges. I used it a while ago and it was a good experience. It seems easy and casual but also went fairly deep into the material.</p>
    <ul>
      <li><a target="_blank" href="https://www.codecademy.com/learn/ruby">Ruby</a></li>
    </ul>
  </div>

  <div id="courses-outro">
    <p>
      I'm hoping to get time to put up reviews for each of the above courses.
      I definitely want to keep my eye on the <span class="highlighted-tech">open courseware</span> landscape as it continues to grow - I'm geinuinely excited about the possibilities. Drop me a message if you have any great providers or other information to share.
    </p>
  </div>
</div>
