<div id="description">
  <p>
    I’m a web developer in downtown Toronto, Canada.
  </p>
  <p>
    Currently I'm focused on <span class="highlighted-tech">ruby on rails</span>, but I also enjoy working in <span class="highlighted-tech">python</span>
    and I'm eager to get back to it. I'm beginning to play around with front-end frameworks
    like <span class="highlighted-tech">React</span> and <span class="highlighted-tech">Angular 2</span> - especially in the context of <span class="highlighted-tech">serverless</span> technologies.
    I'm a big fan of <span class="highlighted-tech">docker</span>.
  </p>
  <p>
    To see some of my work, check out <a href="/projects">my projects</a>.
  </p>
  <p>
    I'm an <span class="highlighted-tech">AWS Certified Solutions Architect - Associate</span> and am at home in the AWS ecosystem.
    My past projects include deploying a scalable, containerized <span class="highlighted-tech">rails</span> application
    on a load-balanced cluster.
    I'm curious to learn more about the new <span class="highlighted-tech">AWS Big Data Specialist</span> certificate.
  </p>
  <p>
    When I have the time, I like to play around with <span class="highlighted-tech">data science</span> and <span class="highlighted-tech">machine learning</span>.
  </p>
  <p>
    I'm a big advocate of online learning through <span class="highlighted-tech">open courseware</span> - what's available now is awesome and I think it's only getting started.
    I've taken several courses from different providers and have more on the go.
    To see a list of the courses I'm currently taking and ones I've completed check out <a href="/courses">my courses</a>.
  </p>
</div>
