<div id="description">
  <p>
    I’m a web developer in downtown Toronto, Canada.
  </p>
  <p>
    Currently focusing on <span class="highlighted-tech">ruby on rails</span>, I also enjoy working in <span class="highlighted-tech">python</span>
    and am beginning to play around with front-end frameworks
    like <span class="highlighted-tech">React</span> and <span class="highlighted-tech">Angular 2</span>.
    I use <span class="highlighted-tech">docker</span> and <span class="highlighted-tech">github</span> for all my development.
  </p>
  <p>
    I'm learning the <span class="highlighted-tech">AWS</span> ecosystem
    and my past projects include deploying a scalable, containerized rails application
    on a load-balanced, cluster.
    I'm <span class="highlighted-tech">pursuing</span> an <span class="highlighted-tech">AWS Solutions Architect - Associate</span> certificate.
    After that I'll be going for the new <span class="highlighted-tech">AWS Big Data</span> specialist certificate.
  </p>
  <p>
    When I have the time, I play around with <span class="highlighted-tech">data science</span> and <span class="highlighted-tech">machine learning</span>.
  </p>
  <p>
    I'm a big supporter of online learning through <span class="highlighted-tech">open courseware</span>.
    I've completed several courses from different providers with more on the go.
    To see the list check out <a href="/courses">My Courses</a>.
  </p>
  <p>
    To see some of my past work or current endeavors, check out
    <a href="/projects">My Projects</a>.
  </p>
</div>
