<div id="description">
  <p>
    I’m a web developer in downtown Toronto, Canada.
  </p>
  <p>
    Currently focusing on Rails, I also do work in python and play around with React and Angular 2. I use docker and github for pretty much all my development.
  </p>
  <p>
    I'm also learning the AWS ecosystem, and am learning to deploy scalable, containerized applications on a load-balanced, cluster. I'm pursuing an AWS Solutions Architect certificate. After that I'll be going for the AWS Big Data Specialist certificate.
  </p>
  <p>
    When I have the time, I play around with machine learning and data science in general.
  </p>
  <p>
    I’m a huge fan of open courseware, … [link to page w/ list of courses and review].
  </p>
  <p>
    Projects … [link to page w/ list of projects]
    <a href="/projects">Projects</a>
  </p>
</div>
