<div id="projects-intro">
  <p>I love <span class="highlighted-tech">docker</span> and use it for all my development. It's really freed me to play around with a variety of languages and frameworks.</p>
  <p>I'm also big on writing tests for all my code, and developing using TDD. I want to live in a world where a requirement translates directly into an acceptance test, followed by some new unit tests, which leads to clean code, passing tests and a fulfilled requirement.</p>
</div>
<div id="projects">
  <div class="project">
    <h2 class="page-subheading">TrackMe</h2>
    <p>A self-improvement app that allows you to set up weekly goals and track their completion. It also tracks different personal status attributes over time (Mindfulness, Diet, Physical Activity, ...).</p>
    <div class="tech-used">
      <label>Technologies Used:</label>
      <ul>
        <li><span class="highlighted-tech">Ruby on Rails</span></li>
        <li><span class="highlighted-tech">AJAX</span></li>
      </ul>
    </div>
    <div class="project-link">Github: <a target="_blank" href="https://github.com/smrkem/trackme">/smrkem/trackme</a></div>
    <div class="project-link">Live App: <a target="_blank" href="http://trackme.mattsmrke.me">trackme.mattsmrke.me</a></div>
  </div>

  <div class="project">
    <h2 class="page-subheading">StockData</h2>
    <p>
      Gets price history for a stock symbol and displays price and volume for the past year in a github contributions style graph.
      It's a detailed, personal accounting of my learning process with combining <span class="highlighted-tech">docker</span>, acceptance testing, <span class="highlighted-tech">"outside-in TDD"</span> and mocking external services.
    </p>
    <div class="tech-used">
      <label>Technologies Used:</label>
      <ul>
        <li><span class="highlighted-tech">Python (Flask)</span></li>
        <li>YahooFinanceAPI</li>
        <li><span class="highlighted-tech">pandas</span> (Python Data Analysis Library)</li>
      </ul>
    </div>
    <div class="github-project-link">Github: <a target="_blank" href="https://github.com/smrkem/docker-flask-tdd">/smrkem/docker-flask-tdd</a></div>
  </div>

</div>
