<h1>My Projects</h1>
<div id="projects-intro">
  <p>...</p>
  <p>All of my projects are "in-progress" and always will be...</p>
</div>
<div id="projects-tmp">
  <div class="project">
    <h2>TrackMe</h2>
    <p>A self-improvement app that tracks different personal status attributes over time (Mindfulness, Diet, Physical Activity, ...)</p>
    <p></p>
    <p>Technologies Used:</p>
    <ul>
      <li>Ruby on Rails</li>
      <li>AJAX</li>
    </ul>
  </div>
  <div class="project">
    <h2>StockData</h2>
    <p>Gets price history for a stock symbol and displays price and volume for the past year.</p>
    <p>Technologies Used:</p>
    <ul>
      <li>Python (Flask)</li>
      <li>YahooFinanceAPI</li>
      <li>pandas (Python Data Analysis Library)</li>
    </ul>
  </div>
</div>
