<div id="projects-intro">
  <p>I have many complete <span class="highlighted-tech">PHP</span> projects using a variety of <span class="highlighted-tech">MVC frameworks</span> and CMS's like Wordpress and Drupal, both personal and at work. Towards the end of last year I decided to focus on different technologies. <span class="highlighted-tech">Ruby on rails</span> was first on my list - but I'm also keen to stay current with <span class="highlighted-tech">python</span>. Data science and <span class="highlighted-tech">machine learning</span> are definitely things I want to explore more of, and I use <span class="highlighted-tech">Flask</span> and <span class="highlighted-tech">Django</span> a lot at my current job.</p>

  <p>That was at the end of 2016. Since then I've learned a lot about modern app architecture and I've decided that <span class="highlighted-tech">serverless architectures</span> and front-end frameworks like <span class="highlighted-tech">React</span> or <span class="highlighted-tech">Angular 2</span> are must-haves.</p>

  <p>I'm a big fan of writing tests for all my code, and developing using TDD.</p>

  <p>I also love <span class="highlighted-tech">docker</span> and use it for most of my development. It's really freed me to play around with a variety of languages and frameworks (though I wonder if it will be as useful as I continue to dig into <span class="highlighted-tech">serverless</span> and <span class="highlighted-tech">AWS Solutions</span> in general).</p>


  <p>These are the 2 personal projects I'm currently working on that I'd consider to be ready for production.</p>
</div>
<div id="projects">
  <div class="project">
    <h2 class="page-subheading">TrackMe</h2>
    <p>A self-improvement app that allows you to set up weekly goals and track their completion. It also tracks different personal status attributes over time (Mindfulness, Diet, Physical Activity, ...).</p>
    <div class="tech-used">
      <label>Technologies Used:</label>
      <ul>
        <li><span class="highlighted-tech">Ruby on Rails</span></li>
        <li><span class="highlighted-tech">AJAX</span></li>
      </ul>
    </div>
    <div class="project-link">Github: <a target="_blank" href="https://github.com/smrkem/trackme">/smrkem/trackme</a></div>
    <div class="project-link">Live App: <a target="_blank" href="http://trackme.mattsmrke.me">trackme.mattsmrke.me</a></div>
  </div>

  <div class="project">
    <h2 class="page-subheading">StockData</h2>
    <p>
      Gets price history for a stock symbol and displays price and volume for the past year in a github contributions style graph.
      It's a detailed, personal accounting of my learning process with combining <span class="highlighted-tech">docker</span>, acceptance testing, <span class="highlighted-tech">"outside-in TDD"</span> and mocking external services.
    </p>
    <div class="tech-used">
      <label>Technologies Used:</label>
      <ul>
        <li><span class="highlighted-tech">Python (Flask)</span></li>
        <li>YahooFinanceAPI</li>
        <li><span class="highlighted-tech">pandas</span> (Python Data Analysis Library)</li>
      </ul>
    </div>
    <div class="github-project-link">Github: <a target="_blank" href="https://github.com/smrkem/docker-flask-tdd">/smrkem/docker-flask-tdd</a></div>
  </div>

</div>
