<%= link_to "My Courses", "/courses" %>
<h1>My Projects</h1>
<div id="projects-intro">
  <p>I love docker and use it for all my development. It's really freed me to play around with a variety of languages and frameworks.</p>
  <p>I'm also big on writing tests for all my code, and developing using TDD. It can be a beautiful thing when a requirement translates directly into an acceptance test, followed by some new unit tests, which leads to clean code, passing tests and a fulfilled requirement.</p>
</div>
<div id="projects">
  <div class="project">
    <h2>TrackMe</h2>
    <p>A self-improvement app that tracks different personal status attributes over time (Mindfulness, Diet, Physical Activity, ...).</p>
    <div class="tech-used">
      <label>Technologies Used:</label>
      <ul>
        <li>Ruby on Rails</li>
        <li>AJAX</li>
      </ul>
    </div>
    <div class="github-project-link">Github: <a target="_blank" href="https://github.com/smrkem/trackme">/smrkem/trackme</a></div>
  </div>

  <div class="project">
    <h2>StockData</h2>
    <p>
      Gets price history for a stock symbol and displays price and volume for the past year in a github contributions style graph.
      It's a detailed, personal accounting of my learning process with combining docker, acceptance testing, "outside-in TDD" and mocking external services.
    </p>
    <div class="tech-used">
      <label>Technologies Used:</label>
      <ul>
        <li>Python (Flask)</li>
        <li>YahooFinanceAPI</li>
        <li>pandas (Python Data Analysis Library)</li>
      </ul>
    </div>
    <div class="github-project-link">Github: <a target="_blank" href="https://github.com/smrkem/docker-flask-tdd">/smrkem/docker-flask-tdd</a></div>
  </div>

</div>
