body {
  margin: 0;
  padding: 0;

  background: #000;
  color: #fff;
  font-family: 'Duru Sans', sans-serif;
  font-size: 25px;
  letter-spacing: -0.7px;
}
p {
  line-height: 37px;
}
p:first-child {
  margin: 0;
}
a {
  text-decoration: none;
  border-bottom: 1px dotted #fff;
}


/*
/* Scrollbars
/**********************/
::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    background: #000;
}
::-webkit-scrollbar-thumb {
    background: #454545;
}
@media screen and (min-width: 912px) {
  body {
    font-size: 38px;
    letter-spacing: -0.9px;
  }
  p {
    line-height: 51px;
  }
}


/*
/* Width-specific helpers
/************************/
.wide-only { display: none; }
@media screen and (min-width: 912px) {
  .narrow-only { display: none !important; }
  .wide-only { display: initial !important; }
}

html, body, #app, .app-wr {
  /*height: 100%;*/
}

.long-dash::before {
  content: "—"
}

/* text highlight color */
.highlight-green {
  color: rgb(70, 170, 160);
}
.highlight-red {
  color: rgb(217, 65, 59);
}
.highlight-orange {
  color: rgb(247, 177, 65);
}
.highlight-pink {
  color: rgb(241, 55, 88);
}
.highlight-blue {
  color: rgb(89, 104, 211);
}

h3.small-heading {
  font-size: 16px;
  margin: 0 0 30px;
}

/*
/* Navigation Tabs
/********************/
nav.site-nav {
  z-index: 100;
  overflow: hidden;
  position: fixed;
  height: 100%;
  background: #000;
  top: 0;
}
nav.left-nav {
  left: 0;
}
nav.left-nav {
  width: 61px;
  transition: width .2s ease-out;
}
nav.left-nav.expanded {
  width: 100%;
}


span.white-arrow {
  display: block;
  position: absolute;
  top: 85px;
  left: 50%;
  height: 14px;
  width: 16px;
  margin: -7px 0 0 -8px;
  background: url(/assets/images/arrow-white.svg) no-repeat;

  transition: transform .2s ease-out;
}

nav.left-nav.expanded span.white-arrow {
  transform: rotateY(180deg);
}

nav.site-nav a.nav-link {
  position: absolute;
  height: 100%;
  width: 60px;
  display: block;
  text-decoration: none;
  top: 0;
  color: #595959;
  font-size: 16px;
  background: rgb(0,0,0);
  transition: background .2s ease, color .2s ease;
}
nav.site-nav a.nav-link span:not(.white-arrow) {
  transform: rotate(90deg) translateX(60px) translateY(-22px);
  transform-origin: left bottom;
  display: block;
  width: 300px;
}
nav.site-nav a#home-link,
nav.site-nav a#home-link-right,
nav.site-nav a.nav-link.active,
nav.site-nav a.nav-link:hover {
  color: #fff;
}

#menu-link {
  left: 0;
  border-right: 1px solid #595959;
  cursor: pointer;
}
#home-link {
  right: 0;
  border-left: 1px solid #595959;
  opacity: 0;
  z-index: -1;

  transition: opacity .2s ease-out;
}
nav.left-nav.expanded #home-link {
  opacity: 1;
}
#home-link:hover {
  background: #222222;
}
#courses-link {
  left: 61px;
  border-right: 1px solid #337c74;
}
#courses-link:hover {
  background: rgb(70, 170, 160);
}
#projects-link {
  left: 122px;
  border-right: 1px solid #414c9a;
}
#projects-link:hover {
  background: #5968d3;
}
#contact-link {
  left: 183px;
  border-right: 1px solid #a8273e;
}
#contact-link:hover {
  background: #f13758;
}
#home-link-right {
  border-left: 1px solid #595959;
}
#home-link-right:hover {
  background: #222222;
}
@media screen and (min-width: 912px) {
  nav.left-nav, nav.left-nav.expanded {
    width: 243px;
  }
  nav.right-nav {
    right: 0;
    width: 81px;
  }
  nav.site-nav a.nav-link {
    width: 80px;
  }
  nav.site-nav a.nav-link span:not(.white-arrow) {
    transform: rotate(90deg) translateX(60px) translateY(-28px);
  }
  #courses-link {
    left: 0;
  }
  #projects-link {
    left: 81px;
  }
  #contact-link {
    left: 162px;
  }
}








/* Body Wrap */
.body-wr {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;

  margin-left: 61px;
  margin-right: 0px;
}

.main {
  max-width: 864px;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 70px;

  transition: color .2s ease;
}
.main.home, .main.courses, .main.contact {
  padding-bottom: 200px;
}
.main .highlight {
  cursor: pointer;
}
.main.faded {
  color: rgb(69,69,69);
}
.main.faded .highlight:not(.hovered) {
  color: rgb(69,69,69);
}

@media screen and (min-width: 912px) {
  .body-wr {
    margin-left: 243px;
    margin-right: 81px;
  }
  .main {
    padding-left: 30px;
  }
}




/* Projects */
.projects-wr {
  height: 100%;
  width: 100%;
  left: 0%;
  position: absolute;

  overflow-x: hidden;
  transition: all .2s ease;
}
.projects-next-button {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: #fff;
  position: fixed;
  top: 50%;
  right: 61px;
  transform: translateY(-50%);
  z-index: 200;
  cursor: pointer;
}
span.arrow {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 14px;
    width: 16px;
    background: url(/assets/images/arrow-black.svg) no-repeat;
    z-index: 2;
    margin: -7px 0 0 -8px;
}
.projects-next-button .next-project-name {
  position: absolute;
  top: 0px;
  right: 20px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 40px;
  line-height: 58px;
}
.projects-next-button .next-project-name div.inner-name {
  display: block;
  padding: 0 20px;
  height: 40px;
  font-size: 13px;
  color: #000;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  background: #fff;
  border-radius: 40px 0 0 40px;

  transform: translateX(100%);
  transition: transform .2s ease-out;
}
.projects-next-button:hover .next-project-name div.inner-name {
  transform: translateX(0%);
}
.projects-next-button .next-project-name div.inner-name span {
  position: relative;
  top: -8px;
  height: 16px;
  white-space: nowrap;
}

.project {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  padding-bottom: 200px;
}
.project a {
  color: #fff;
}

p.project-description,
.project-technologies {
  margin-bottom: 100px;
}

.project-technologies ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.project-links {
  overflow: hidden;
}
.project-links .code-link,
.project-links .live-link {
  width: 50%;
  float: left;
  padding-bottom: 2px;
}
