/*
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  background: #f5f5dc;
}

p {
  margin-bottom: 20px;
}

header {
  margin: 10px 0 30px;
}
header #site-brand {
  display: block;
  font-size: 4em;
  line-height: 1.2em;
  color: #333366;
}
header #site-brand:hover {
  text-decoration: none;
}


.page-heading {
  font-size: 2em;
}
.page-subheading {
  margin-top: 40px;
  font-size: 1.6em;
}


.social-icons {
  padding: 0;
  list-style: none;
}
.social-icons li {
  float: left;
  margin-right: 10px;
}
.social-icons li a {
  color: transparent;
  display: block;
  height: 30px;
  width: 30px;
  background-size: 30px 30px;
}
.social-icons .github {
  background-image: image-url("github-icon.png");
}
.social-icons .linkedin {
  background-image: image-url("linkedin-icon.png");
}



.highlighted-tech {
  color: #333366;
  font-size: 1.15em;
  font-weight: bold;
}




.courses-heading {
  padding: 5px 0 10px;
  margin-top: 20px;
  font-size: 1.3em;
}

.course {
  @include clearfix;

  margin: 10px;
  padding: 10px;
  border: 1px solid #aac;
  border-radius: 5px;
}

.course .provider {
  float: left;
  height: 50px;
  width: 50px;
  margin: 5px;
  margin-right: 10px;
  background-size: 50px 50px;
  color: transparent;
}
.provider.udemy {
  background-image: image-url("udemy.png");
}
.provider.edx {
  background-image: image-url("edx.png");
}

.course h4 {
  margin-bottom: 5px;
}

.course-links {
  list-style: none;
}
.course-links li {
  float: left;
  margin-right: 15px;
}



.project {
  margin: 10px;
  padding: 10px;
  border: 1px solid #aac;
  border-radius: 5px;
}
.project h2 {
  margin-top: 0;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #aac;
}
.footer-info {
  padding-top: 5px;
}
