/*
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Asap');

$break-small: 768px;

$bg-color: #a9a9a9;

$highlight-color: #ffc800;
$link-color: #0077b5;

body {
  font-size: 2.2em;
  background: $bg-color;
  font-family: 'Asap', sans-serif;
}

a:hover,
a:active,
a.visited,
a {
  text-decoration: none;
  color: $link-color;
}
a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 20px;
}

header {
  margin: 10px 0 30px;
}

header #site-brand {
  display: block;
  font-size: 2.6em;
  line-height: 1.2em;
  color: $highlight-color;
  text-decoration: none;

  @media screen and (min-width: $break-small) {
    font-size: 4em;
  }
}
header #site-brand:hover {
  text-decoration: none;
}


.page-heading {
  font-size: 2em;
}
.page-subheading {
  margin-top: 40px;
  font-size: 1.6em;
}


.social-icons {
  padding: 0;
  list-style: none;
}
.social-icons li {
  float: left;
  margin-right: 10px;
}
.social-icons li a {
  color: #333366;
  font-size: 1.2em;
}
footer .social-icons li a {
  font-size: 1.1em;
}
.social-icons li a.github {
  color: #000;
}
.social-icons li a.linkedin {
  color: #003699;
  color: #0077b5;
}
#message-me {
  height: 32px;
  margin-top: 4px;
  margin-right: 15px;
  border-color: #204d74;
  display: none;

  @media screen and (min-width: $break-small) {
    display: block;
  }
}


.modal-header {
  background: #333;
}
.modal-title {
  color: $highlight-color;
  float: left;
  font-size: 1.5em;
}
#message-me-body {
  width: 100%;
  border: none;
  height: 50%;
}
#message-me-body:focus {
  border: none;
  outline: none;
}




.highlighted-tech {
  color: $highlight-color;
  font-size: 1.15em;
  font-weight: bold;
}




.courses-heading {
  padding: 5px 0 10px;
  margin-top: 20px;
  font-size: 1.3em;
}

.course {
  @include clearfix;

  margin: 10px;
  padding: 10px;
  border: 1px solid #999;
  border-left: none;
  border-right: none;
}

.course .provider {
  float: left;
  height: 50px;
  width: 50px;
  margin: 5px;
  margin-right: 10px;
  background-size: 50px 50px;
  color: transparent;
}
.provider.udemy {
  background-image: image-url("udemy.png");
}
.provider.edx {
  background-image: image-url("edx.png");
}

.course h4 {
  margin-bottom: 5px;
}

.course-links {
  list-style: none;
}
.course-links li {
  float: left;
  margin-right: 15px;
}

.course.other-provider p {
  margin-bottom: 0;
}


.project {
  margin: 10px;
  padding: 10px;
  border: 1px solid #aac;
  border-left: none;
  border-right: none;
}
.project h2 {
  margin-top: 0;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #aac;
}
.footer-info {
  padding-top: 5px;
}
