/*
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');

$break-small: 768px;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  background: #f5f5dc;
}

p {
  margin-bottom: 20px;
}

header {
  margin: 10px 0 30px;
}

header #site-brand {
  display: block;
  font-size: 3em;
  line-height: 1.2em;
  color: #333366;

  @media screen and (min-width: $break-small) {
    font-size: 4em;
  }
}
header #site-brand:hover {
  text-decoration: none;
}


.page-heading {
  font-size: 2em;
}
.page-subheading {
  margin-top: 40px;
  font-size: 1.6em;
}


.social-icons {
  padding: 0;
  list-style: none;
}
.social-icons li {
  float: left;
  margin-right: 10px;
}
.social-icons li a {
  color: transparent;
  display: block;
  height: 30px;
  width: 30px;
  background-size: 30px 30px;
}
.social-icons .github {
  background-image: image-url("github-icon.png");
}
.social-icons .linkedin {
  background-image: image-url("linkedin-icon.png");
}
.social-icons .email {
  background-image: image-url("email-icon.png");
}



.modal-header {
  background: #333;
}
.modal-title {
  color: #fff;
  float: left;
  font-size: 1.5em;
}
#message-me-body {
  width: 100%;
  border: none;
  height: 50%;
}
#message-me-body:focus {
  border: none;
  outline: none;
}




.highlighted-tech {
  color: #333366;
  font-size: 1.15em;
  font-weight: bold;
}




.courses-heading {
  padding: 5px 0 10px;
  margin-top: 20px;
  font-size: 1.3em;
}

.course {
  @include clearfix;

  margin: 10px;
  padding: 10px;
  border: 1px solid #aac;
  border-radius: 5px;
}

.course .provider {
  float: left;
  height: 50px;
  width: 50px;
  margin: 5px;
  margin-right: 10px;
  background-size: 50px 50px;
  color: transparent;
}
.provider.udemy {
  background-image: image-url("udemy.png");
}
.provider.edx {
  background-image: image-url("edx.png");
}

.course h4 {
  margin-bottom: 5px;
}

.course-links {
  list-style: none;
}
.course-links li {
  float: left;
  margin-right: 15px;
}

.course.other-provider p {
  margin-bottom: 0;
}


.project {
  margin: 10px;
  padding: 10px;
  border: 1px solid #aac;
  border-radius: 5px;
}
.project h2 {
  margin-top: 0;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #aac;
}
.footer-info {
  padding-top: 5px;
}
