<!DOCTYPE html>
<html>
  <head>
    <title>mattsmrke - Web and Application Developer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="container">
      <a href="/" id="site-brand" class="pull-left">mattsmrke</a>
      <ul class="social-icons pull-right">
        <li><a href="#">GitHub</a></li>
        <li><a href="#">LinkedIn</a></li>
      </ul>
    </header>

    <section class="container">
      <%= yield %>
    </section>
  </body>
</html>
